<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container" style="justify-content: center; text-align: center; border: 2px solid black;margin-top: 100px;">
    <h3>The Song List</h3>
    <table style="border: 1px solid black;">
      <thead><tr>
        <th>ID</th>
        <th>Songname</th>
        <th>Artist</th>
        <th>Playlist</th>
      </tr></thead>
      <tbody>
        <tr *ngFor="let song of db">
          <td>{{song.id}}</td>
          <td>{{song.songname}}</td>
          <td>{{song.artist}}</td>
          <td>{{song.playlist}}</td>
        </tr>
      </tbody>
    </table>
   
  </div>

<div class="text-center"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" (click)="OpenModel()">Add Song</button></div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" #myModel>
  <div class="modal-dialog modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Song</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="songName">Song Name</label>
            <input type="text" id="songName" [(ngModel)]="songobj.songname" name="songname" placeholder="Enter the song name" class="form-control">
          </div>
          <div class="form-group">
            <label for="artistName">Artist Name</label>
            <input type="text" id="artistName" [(ngModel)]="songobj.artist" name="artist" placeholder="Enter the artist name" class="form-control">
          </div>
          <div class="form-group">
            <label for="playlistName">Playlist Name</label>
            <input type="text" id="playlistName" [(ngModel)]="songobj.playlist" name="playlist" placeholder="Enter the playlist name" class="form-control" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" (click)="Savesong()">Add the Song</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModel()">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Button to open the modal -->
<div class="text-center">
  <button data-target="#deletemodel"
    (click)="openDeleteModal()" 
    style="border: 1px solid rgb(231, 130, 130); background-color: rgb(231, 130, 130); padding: 14px 14px 13px 13px; border-radius: 10px; margin-bottom:20px;"
  >
    Delete Song
  </button>
</div>


<!-- Modal -->
<div id= "deletemodel" data-toggle="deletemodel" class="modal" role="dialog">
  <div class ="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <input type="text" [(ngModel)]="songid" placeholder="Enter the Song ID" style="width: 100%;" />
        <div class="modal-footer">
          <button class="btn btn-success" (click)="DeleteSong()">Delete the Song</button>
          <button class="btn btn-secondary" type="button" (click)="closeDeleteModal()">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>
</div>



</body>
</html>